<h1>Video Library Admin</h1>

<div id="vidlist_holder">

<% @videos.each do |video| %>
  <div class="vidlist_thumb"><%= image_tag video.thumb, class: 'vidlist_thumb' %></div>

  <p><strong>Date:</strong> <%= video.date %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <strong>Vimeo ID:</strong> <%= video.vid %></p>
  <p><strong>Name:</strong> <%= video.name %></p>
  <p><strong>Description:</strong> <%= video.description.truncate(300, separator: ' ') %></p>
  <p><strong>Album(s):</strong> <%= video.album %></p>

  <p class="vidlist_options_block"><strong>
    <%= link_to 'Vimeo Page', "http://vimeo.com/#{video.vid}", target: '_blank' %> |
    <%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?' } %></strong>
  </p>

  <div class="vidlist_divider">&nbsp;</div>

<% end %>
</div>





<!-- disabling this because it's really dangerous without authentication
<%= link_to 'New Video', new_video_path %>
-->
