<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @video.thumb %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Vid:</strong>
  <%= @video.vid %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
