<%= image_tag 'banner_top_1200.jpg', :id => 'banner_top'%>

<% @vidlist.each do |vid| %>
	<p><%= vid %></p>

	<% @videos.each do |video| %>
		<% if video.vid == vid %>
			<%= image_tag video.thumb, class: 'vidlist_thumb' =%>
		<% end %>
	<% end %>
<% end %>



<div id="eyecatch_container_main">
	<div id="leftblock">
		<div id="left_top_container">
			<ul class="layout">
				<li>
					<%= image_tag 'test_thumbs/1.jpg', :class => 'left_top_boxes' %>
					<%= image_tag 'test_thumbs/2.jpg', :class => 'left_top_boxes' %>
				</li>
				<li>
					<%= image_tag 'test_thumbs/3.jpg', :class => 'left_top_boxes' %>
					<%= image_tag 'test_thumbs/4.jpg', :class => 'left_top_boxes' %>
				</li>
			</ul>
		</div>
		<%= image_tag 'test_thumbs/5.jpg', :id => 'left_bottom' %>
	</div>

	<div id='middleblock'>
		<%= image_tag 'test_thumbs/6.jpg', :id => 'middle_top' %>
		<%= image_tag 'test_thumbs/7.jpg', :id => 'middle_bottom' %>
	</div>

	<div id='rightblock'>
		<%= image_tag 'test_thumbs/8.jpg', :id => 'right_top' %>
		<%= image_tag 'test_thumbs/9.jpg', :id => 'right_bottom' %>
	</div>

</div>



<div id="homepage_textarea">

<h2 class="homepage">Who we are</h2>
<p align="center" id="homepage_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are a group of scientists and animators based at the University of Colorado Boulder. Our mission is to illustrate basic principles of geology in entertaining and accessible ways. We create digital animations and interactive displays showing the geologic evolution of Colorado and other locations for use in schools, museums, national parks, and by the general public.</p>



<h2 class="homepage">Our goals</h2>
<ul class="homepage">
	<li>To educate the public about key geologic processes and their impact on society</li><br />
	<li>To help the public understand the geologic processes that shape the world through detailed explorations of select areas.</li><br />
	<li>To fully integrate 3D visualization techniques into geology education by developing geologically accurate animations and interactive displays.</li><br />
	<li>To provide these resources free of charge to educators and the general public.</li>
</ul>
</div>
