<div id="banner_top">
	<%= image_tag 'igp_website_alpha_banner_text.png', :id => 'banner_text' %>
	<%= image_tag 'igp_website_banner.jpg' %>
</div>



<div class="darkmask">&nbsp;</div>

<div id="eyecatch_container_main">
	<div id="leftblock">
		<div id="left_top_container">
			<ul class="layout">
				<li>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%= '#'+@recentvids[8].vid %>" ><%= @recentvids[8].name %></div>
						<%= image_tag @recentvids[8].thumb, :class => 'left_top_boxes' %>
					</div>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%='#'+@recentvids[7].vid %>" ><%= @recentvids[7].name %></div>
						<%= image_tag @recentvids[7].thumb, :class => 'left_top_boxes' %>
					</div>
				</li>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%= '#'+@recentvids[6].vid %>" ><%= @recentvids[6].name %></div>
						<%= image_tag @recentvids[6].thumb, :class => 'left_top_boxes' %>
					</div>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%= '#'+@recentvids[5].vid %>" ><%= @recentvids[5].name %></div>
						<%= image_tag @recentvids[5].thumb, :class => 'left_top_boxes' %>
					</div>
				<li>
				</li>
			</ul>
		</div>
		<div class="imagebox" id="left_bottom">
			<div class="caption" rel="<%= '#'+@recentvids[4].vid %>" ><%= @recentvids[4].name %></div>
			<%= image_tag @recentvids[4].thumb, :class => 'left_bottom' %>
		</div>
	</div>

	<div id='middleblock'>
		<div class="imagebox" id="middle_top">
			<div class="caption" rel="<%= '#'+@recentvids[3].vid %>" ><%= @recentvids[3].name %></div>
			<%= image_tag @recentvids[3].thumb, :class => 'middle_top' %>
		</div>
		<div class="imagebox" id="middle_bottom">
			<div class="caption" rel="<%= '#'+@recentvids[2].vid %>" ><%= @recentvids[2].name %></div>
			<%= image_tag @recentvids[2].thumb, :class => 'middle_bottom' %>
		</div>
	</div>

	<div id='rightblock'>
		<div class="imagebox" id="right_top">
			<div class="caption" rel="<%= '#'+@recentvids[1].vid %>" ><%= @recentvids[1].name %></div>
			<%= image_tag @recentvids[1].thumb, :class => 'right_top' %>
		</div>
		<div class="imagebox" id="right_bottom">
			<div class="caption" rel="<%= '#'+@recentvids[0].vid %>" ><%= @recentvids[0].name %></div>
			<%= image_tag @recentvids[0].thumb, :class => 'right_bottom' %>
		</div>
	</div>

</div>

<div id="homepage_textarea">

<h2 class="homepage">Who we are</h2>
<p align="center" id="homepage_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are a group of scientists and animators based at the University of Colorado Boulder. Our mission is to illustrate basic principles of geology in entertaining and accessible ways. We create digital animations and interactive displays showing the geologic evolution of Colorado and other locations for use in schools, museums, national parks, and by the general public.</p>



<h2 class="homepage">Our goals</h2>
<ul class="homepage">
	<li>To educate the public about key geologic processes and their impact on society</li><br />
	<li>To help the public understand the geologic processes that shape the world through detailed explorations of select areas.</li><br />
	<li>To fully integrate 3D visualization techniques into geology education by developing geologically accurate animations and interactive displays.</li><br />
	<li>To provide these resources free of charge to educators and the general public.</li>
</ul>
</div>





<% @recentvids.each do |video| %>
	<div class="overlay" id="<%= video.vid %>">
		<iframe class="player_overlay" src="//player.vimeo.com/video/<%= video.vid %>"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
<% end %>


<script>
$(document).ready(function() {

	//show video titles on hover
	$(".imagebox").mouseenter(function() {
		var caption_div = $(this).find("div");
		var width = $(this).css("width"); 
		var height = $(this).css("height"); 
		caption_div.show();
		caption_div.css({"width":width, "height":height});
		
	}).mouseleave(function() {
		$(this).find("div").hide();
	});

	//show player overlay on click
	$(".imagebox").click(function() {
		var id = $(this).find("div").attr("rel")
		show_overlay(id);
	});

	//hide player overlay when user clicks off player 
	$(".darkmask").click(function() {
		hide_overlay();
	});

	//also hide if player border region is clicked
	$(".overlay").click(function() {
		hide_overlay();
	});
	

});

//functions

function show_overlay(id) {
	$(".darkmask").fadeIn(500);

	//determine anchor points to center overlay div 
	var anchor_top = ($(window).height() - 600) / 2;
	var anchor_left = ($(window).width() - 1000) / 2;
	$(id).css({"top":anchor_top, "left":anchor_left});

	$(id).fadeIn(500);
}

function hide_overlay() {
	$(".overlay").fadeOut(200);
	$(".darkmask").fadeOut(200);
}


</script>
