<%= image_tag 'banner_top_1200.jpg', :id => 'banner_top'%>



<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>




<div id="eyecatch_container_main">
	<div id="leftblock">
		<div id="left_top_container">
			<ul class="layout">
				<li>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%= '#'+@recentvids[8][1] %>" ><%= @recentvids[8][2] %></div>
						<%= image_tag @recentvids[8][0], :class => 'left_top_boxes' %>
					</div>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%='#'+@recentvids[7][1] %>" ><%= @recentvids[7][2] %></div>
						<%= image_tag @recentvids[7][0], :class => 'left_top_boxes' %>
					</div>
				</li>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%= '#'+@recentvids[6][1] %>" ><%= @recentvids[6][2] %></div>
						<%= image_tag @recentvids[6][0], :class => 'left_top_boxes' %>
					</div>
					<div class="imagebox" id="left_top_boxes">
						<div class="caption" rel="<%= '#'+@recentvids[5][1] %>" ><%= @recentvids[5][2] %></div>
						<%= image_tag @recentvids[5][0], :class => 'left_top_boxes' %>
					</div>
				<li>
				</li>
			</ul>
		</div>
		<div class="imagebox" id="left_bottom">
			<div class="caption" rel="<%= '#'+@recentvids[4][1] %>" ><%= @recentvids[4][2] %></div>
			<%= image_tag @recentvids[4][0], :class => 'left_bottom' %>
		</div>
	</div>

	<div id='middleblock'>
		<div class="imagebox" id="middle_top">
			<div class="caption" rel="<%= '#'+@recentvids[3][1] %>" ><%= @recentvids[3][2] %></div>
			<%= image_tag @recentvids[3][0], :class => 'middle_top' %>
		</div>
		<div class="imagebox" id="middle_bottom">
			<div class="caption" rel="<%= '#'+@recentvids[2][1] %>" ><%= @recentvids[2][2] %></div>
			<%= image_tag @recentvids[2][0], :class => 'middle_bottom' %>
		</div>
	</div>

	<div id='rightblock'>
		<div class="imagebox" id="right_top">
			<div class="caption" rel="<%= '#'+@recentvids[1][1] %>" ><%= @recentvids[1][2] %></div>
			<%= image_tag @recentvids[1][0], :class => 'right_top' %>
		</div>
		<div class="imagebox" id="right_bottom">
			<div class="caption" rel="<%= '#'+@recentvids[0][1] %>" ><%= @recentvids[0][2] %></div>
			<%= image_tag @recentvids[0][0], :class => 'right_bottom' %>
		</div>
	</div>

</div>

<div id="homepage_textarea">

<h2 class="homepage">Who we are</h2>
<p align="center" id="homepage_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are a group of scientists and animators based at the University of Colorado Boulder. Our mission is to illustrate basic principles of geology in entertaining and accessible ways. We create digital animations and interactive displays showing the geologic evolution of Colorado and other locations for use in schools, museums, national parks, and by the general public.</p>



<h2 class="homepage">Our goals</h2>
<ul class="homepage">
	<li>To educate the public about key geologic processes and their impact on society</li><br />
	<li>To help the public understand the geologic processes that shape the world through detailed explorations of select areas.</li><br />
	<li>To fully integrate 3D visualization techniques into geology education by developing geologically accurate animations and interactive displays.</li><br />
	<li>To provide these resources free of charge to educators and the general public.</li>
</ul>
</div>





<% @recentvids.each do |video| %>
	<div class="apple_overlay" id="<%= video[1] %>">
		<iframe class="player_overlay" src="//player.vimeo.com/video/<%= video[1] %>?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
<% end %>


<script>
$(document).ready(function() {
	$("div[rel]").overlay({mask: '#000', effect: 'apple'});
});


$('div.caption').hide();


$('.imagebox').mouseenter(function() {
	var caption_div = $(this).find('div');
	var width = $(this).css('width'); //not displaying because title is in clipped part of image
	var height = $(this).css('height'); //not working because element is returning 'auto'
	caption_div.show();
	caption_div.css({'width':width, 'height':height});
	
}).mouseleave(function() {
	$(this).find('div').hide();
});



</script>
