<h1>Video Library</h1>

<div id="searchbar">
	<%= form_tag 'library', :method => 'get' do %>
		<%= text_field_tag :search, params[:search], size: 55, :placeholder => 'Find videos by title, keyword, or descripton contents.' %>
		<%= submit_tag "Search", :name => nil %>  
	<% end %>
</div>

<div id="albums_bar">
	<% if @album %>
		<div class="album_button"><%= link_to 'All', 'library', html_options = {:class => "album"}%></div>
	<% else %>
		<div class="album_button_active"><%= link_to 'All', 'library', html_options = {:class => "album"}%></div>
	<% end %>

		<% @albums.each do |album| %>	
			<% if album == @album %>
				<div class="album_button_active" id="<%= album + '_btn' %>"><%= link_to album.truncate(33, separator: ' '), 'library?album='.concat(album), html_options = {:class => "album"}%></div>
			<% else %>
				<div class="album_button" id="<%= album + '_btn' %>"><%= link_to album.truncate(33, separator: ' '), 'library?album='.concat(album), html_options = {:class => "album"}%></div>
			<% end %>

		<% end %>
</div>



<ul class="library"> 

<% @videos.each do |video| %>

<li class="library">
	<div class="expand_visible vid_closebox"><%= link_to "X", :controller => "pages", :action => "close_video", :vid => video.vid, :name => video.name, :thumb => video.thumb, :remote => true %></div>
	<h2 class="expand_visible expanded_title"><%= link_to video.name, :controller => "pages", :action => "close_video", :vid => video.vid, :name => video.name, :thumb => video.thumb, :remote => true %></h2>
	<div class="vid_info_expanded">Date Uploaded: <%= video.date %> | Albums: <%= video.album.truncate(33, separator: ' ') %></div>
	<div class="video_thumbnail" id="<%=video.vid%>" >
		<%= link_to image_tag("playbutton.png", :class => "expand_hidden playbutton"), :controller => "pages", :action => "video", :vid => video.vid, :name => video.name, :remote => true %>
		<%= image_tag video.thumb, :class => "expand_hidden vid_thumbnail" %>
	</div>

	<div class="description_block">
		<h2 class="expand_hidden vid_title"><%= link_to video.name, :controller => "pages", :action => "video", :vid => video.vid, :name => video.name, :remote => true %></h2>
		<span class="vid_info">Date Uploaded: <%= video.date %> | Albums: <%= video.album.truncate(33, separator: ' ') %></span>
		<p class="vid_description"><%= raw(video.description) %></p>
		<p class="vimeo_link"><a href="http://vimeo.com/<%= video.vid %>" target="_blank">View or Download on Vimeo</a></p>
	
		<div class="expand_visible collapsebtn"><%= link_to "Show Less", :controller => "pages", :action => "close_video", :vid => video.vid, :name => video.name, :thumb => video.thumb, :remote => true %></div>
	</div>
	<span class="expand_hidden expandbtn"><%= link_to "Show More", :controller => "pages", :action => "video", :vid => video.vid, :name => video.name, :remote => true %></span>

</li>

<% end %>

</ul>



<script>

$(document).ready(function() {
	//highlight appropriate nav tab
	$("li[rel$='library']").toggleClass("nav_button nav_button_active");

	//album button rollover effect
	$(".album_button").mouseenter(function() {
	  $(this).css({"background":"linear-gradient(#FFFFFF, #F0F0F0)"});
	}).mouseleave(function() {
	  $(this).css({"background":"linear-gradient(#F8F8F8, #E0E0E0)"});
	});

	//play button rollover effects
	$(".video_thumbnail").mouseenter(function() { //highlight playbutton on hover
		$(this).find(".playbutton").css({"opacity":"0.6"});
	}).mouseleave(function() { 
		$(this).find(".playbutton").css({"opacity":"0.4"});
	}).click(function() { //expand video & description on click
	  var vidblock = $(this).closest("li");
	  expand_vid(vidblock);
	});

	//expand video & description
	$(".expand_hidden").click(function() { 
	  var vidblock = $(this).closest("li");
	  expand_vid(vidblock);
	});

	//collapse video & description
	$(".expand_visible").click(function() { 
	  var vidblock = $(this).closest("li");
	  collapse_vid(vidblock);
	});

});


function expand_vid(vidblock) {
	vidblock.css({"animation":"vid_rolldown 1s", "height":"auto", "background":"linear-gradient(#B0B0B0, #888888)", "color":"#F0F0F0", "box-shadow":"0px 0px 4px 3px #333"});
	vidblock.find(".description_block").css({"height":"auto", "margin":"0px 50px 0px 50px"});
	vidblock.find(".video_thumbnail").toggleClass("video_thumbnail video_thumbnail_empty");
	vidblock.find(".vimeo_link").show();
	vidblock.find(".expand_hidden").hide();
	vidblock.find(".expand_visible").show();
	vidblock.find("div").css({"width":"100%"});
	vidblock.scrollView(); //scroll window to top of vidblock
};

function collapse_vid(vidblock) {
	vidblock.find("iframe").hide();
	vidblock.find(".video_thumbnail_empty").toggleClass("video_thumbnail_empty video_thumbnail");
	vidblock.find(".description_block").css({"height":"170px", "margin":""});
	vidblock.find(".vimeo_link").hide();
	vidblock.find(".expand_visible").hide();
	vidblock.find(".expand_hidden").show();
	vidblock.css({"animation":"vid_rollup 0.7s", "height":"200px", "background":"transparent", "color":"", "box-shadow":""});
	vidblock.find("div").css({"width":""});
	vidblock.scrollView(); //scroll window to top of vidblock
};

$.fn.scrollView = function() {
	return this.each(function() {
		$("html, body").animate( {
			scrollTop: $(this).offset().top - 50
		}, 600);
	});
};

</script>
