<%= javascript_include_tag :defaults %>

<%= form_tag 'library', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= link_to 'All', 'library' %>
<% @albums.each do |album| %>
  <%= link_to album, 'library?album='.concat(album) %>
<% end %>

<table>
  <caption><h1>Video Library<br><%= @album %></h1></caption>
  <% @videos.each do |video| %>
    <tr>
      <!--<td id="<%=video.vid%>"><img src=<%= video.thumb %> height="281" width="500"></td>-->
      <td id="<%=video.vid%>"><%= link_to(image_tag(video.thumb, :size => "500x281"), {:controller => "pages", :action => "video", :vid => video.vid, :name => video.name}, :remote => true) %></td>
      <td>
        <div id="<%=video.vid + "t"%>"><h2><%= link_to video.name, {:controller => "pages", :action => "video", :vid => video.vid, :name => video.name}, :remote => true %><br></h2></div>
        <%= raw(video.description) %>
      </td>
    </tr>
  <% end %>
</table>
