 <h1>Staff</h1>
<h2>Project Director</h2>
<%=image_tag("paul_pict.jpg")%> Paul Weimer
<p>
Professor - Sequence Stratigraphy
Director of the Energy and Minerals Applied Research Center
</p>
<h2>Project Staff</h2>
<%=image_tag("joseph_staff.jpg")%>Joseph Rogers<br>
<%=image_tag("jim_staff.jpg")%>Jim Adson<br>
<%=image_tag("ludvig_staff.jpg")%>Ludvig Rhodin<br>
<%=image_tag("eric_staff.jpg")%>Eric Lobato<br>
