<h1>About Us</h1>

<ul class="about_page">
	<h2 class="staff_h2">History</h2>
	<li class="staff_list">
		<p class="history">The Interactive Geology Project was formed in 2003 by professor Paul Weimer and colleagues with the goal of producing short 3D animations about the geologic evolution of key US national parks. The first major project focused on the geology of the Colorado National Monument and is still on display in the park’s visitor center.  Over time our focus shifted from national parks to animating Colorado’s geologic history, with a key goal of developing a series of 5-10 minute vignettes covering each geologic time period.</p>
		
		<p class="history">The current group of animators joined the project in the summer of 2011. In 2013 we began a major collaboration with the Denver Museum of Nature and Science to explore new ways of using 3D technology in earth science education. We work with top subject-area experts to ensure our animations are as scientifically accurate and up-to-date as possible.</p>
		
		<p class="history">Our projects are on display in museums, parks, and other venues across Colorado, the Western US, and Canada. All of our work is also available to the general public free of charge on our website and our Vimeo page.</p>
	</li>
		
	<h2 class="staff_h2">Staff</h2>

	<li class="staff_list">

		<div class="staff_photo"><%= image_tag "paul_pict.jpg", :class => "staff_photo" %></div>
		<div class="staff_bio">
			<h3>Paul Weimer</h3>
			<ul>
				<li>Project Director</li>
				<li>Professor of Sequence Stratigraphy</li>
				<li>Director of the <a href="http://emarc.colorado.edu/" target="_blank">Energy and Minerals Applied Research Center</a></li>
				<li>Research Associate in Earth Sciences, Denver Museum of Nature &amp; Science</li>
			</ul>
		</div>

	</li>
	<li class="staff_list">

		<div class="staff_photo"><%= image_tag "jim_staff.jpg", :class => "staff_photo" %></div>
		<div class="staff_bio">
			<h3>James Adson</h3>
			<ul>
				<li>3D Artist / Animator / Code Monkey</li>
				<li>Dept. Associate in Earth Sciences, Denver Museum of Nature &amp; Science</li>
			</ul>
		</div>

	</li>
	<li class="staff_list">

		<div class="staff_photo"><%= image_tag "eric_staff.jpg", :class => "staff_photo" %></div>
		<div class="staff_bio">
			<h3>Eric Lobato</h3>
			<ul>
				<li>3D Artist / Animator</li>
			</ul>
		</div>

	</li>
	<li class="staff_list">

		<div class="staff_photo"><%= image_tag "ludvig_staff.jpg", :class => "staff_photo" %></div>
		<div class="staff_bio">
			<h3>Ludvig Rhodin</h3>
			<ul>
				<li>IT Specialist</li>
			</ul>
		</div>

	</li>
	<li class="staff_list">

		<div class="staff_photo"><%= image_tag "joseph_staff.jpg", :class => "staff_photo" %></div>
		<div class="staff_bio">
			<h3>Joseph Rogers</h3>
			<ul>
				<li>3D Artist / Animator</li>
				<li>Dept. Associate in Earth Sciences, Denver Museum of Nature &amp; Science</li>
			</ul>
		</div>

	</li>

	<li class="staff_list">&nbsp;<!--spacer--></li>

	<h2 class="staff_h2">Former Staff</h2>

	<li class="former_staff_list">Jay Austin</li>
	<li class="former_staff_list">Byron Boyle</li>
	<li class="former_staff_list">Rick Couture</li>
	<li class="former_staff_list">Ryan Crow</li>
	<li class="former_staff_list">Camille Dodson</li>
	<li class="former_staff_list">Chris Grey</li>
	<li class="former_staff_list">James Hage</li>
	<li class="former_staff_list">Ben Haugen</li>
	<li class="former_staff_list">Sarah Melton</li>
	<li class="former_staff_list">John Roesink</li>
	<li class="former_staff_list">Mike Santoro</li>
</ul>




<script>
$(document).ready(function() {
	//highlight appropriate nav tab
	$("li[rel$='staff']").toggleClass("nav_button nav_button_active");
});
</script>

