 <h1>Staff</h1>
<h2>Project Director</h2>
<%=image_tag("paul_pict.jpg")%> Paul Weimer
<p>
Professor - Sequence Stratigraphy
Director of the Energy and Minerals Applied Research Center
</p>
<h2>Project Staff</h2>
<%=image_tag("joseph_staff.jpg", :class => "staff_photo")%>Joseph Rogers<br>
<%=image_tag("jim_staff.jpg", :class => "staff_photo")%>Jim Adson<br>
<%=image_tag("ludvig_staff.jpg", :class => "staff_photo")%>Ludvig Rhodin<br>
<%=image_tag("eric_staff.jpg", :class => "staff_photo")%>Eric Lobato<br>

<script>
$(document).ready(function() {
	//highlight appropriate nav tab
	$("li[rel$='staff']").toggleClass("nav_button nav_button_active");
});
</script>

<!--
<ul class="staff_list">
	<li>
	<%=image_tag("joseph_staff.jpg", :class => "staff_photo_test")%>
	<p class="staff_list">lorem ipsum al;sekjdrl;aksj; as;dlkfj al;sdkfj as;dlkfjasl;dkfj a;slkjer</p>
	</li>
	<li>
	<%=image_tag("jim_staff.jpg", :class => "staff_photo_test")%>
	<p class="staff_list">lorem ipsum al;sekjdrl;aksj; as;dlkfj al;sdkfj as;dlkfjasl;dkfj a;slkjer</p>
	</li>
	<li>
	<p class="staff_list">lorem ipsum al;sekjdrl;aksj; as;dlkfj al;sdkfj as;dlkfjasl;dkfj a;slkjer</p>
	<%=image_tag("ludvig_staff.jpg", :class => "staff_photo_test")%>
	</li>
	<li>
	<p class="staff_list">lorem ipsum al;sekjdrl;aksj; as;dlkfj al;sdkfj as;dlkfjasl;dkfj a;slkjer</p>
	<%=image_tag("eric_staff.jpg", :class => "staff_photo_test")%>
	</li>
</ul>
-->
