<h1>Our work would not be possible without the support of:</h1>

<ul class="layout">
	<li class="supporters">
		<a href="http://www.colorado.edu/" target="_blank"><div class="supporter_block"><%= image_tag "UCB_seal.png" %><p>The University of Colorado Boulder</p></a></div>
		<a href="http://www.nps.gov/" target="_blank"><div class="supporter_block"><%= image_tag "NPS_logo.png" %><p>The National Park Service</p></a></div>
		<a href="http://www.americangeosciences.org/" target="_blank"><div class="supporter_block"><%= image_tag "AGI_logo.png" %><p>American Geosciences Institute</p></a></div>

	<hr \>
		<a href="http://foundation.aapg.org/" target="_blank"><div class="supporter_block"><%= image_tag "AAPG_logo.png" %><p>The AAPG Foundation</p></a></div>
		<a href="http://www.seg.org/web/foundation" target="_blank"><div class="supporter_block"><%= image_tag "SEG_logo.png" %><p>The SEG Foundation</p></a></div>
		<a href="http://www.gcssepm.org/" target="_blank"><div class="supporter_block"><%= image_tag "GCSSEPM_logo.png" %><p>Gulf Coast Section SEPM</p></a></div>
	<hr \>
		<a href="http://cpgeosystems.com/" target="_blank"><div class="supporter_block"><%= image_tag "blakey_logo.jpg" %><p>Ron Blakey<br>Colorado Plateau Geosystems</p></a></div>
		<a href="http://www.whiting.com/" target="_blank"><div class="supporter_block"><%= image_tag "whiting_logo.png" %><p>Whiting Petroleum</p></a></div>
		<a href="http://www.dmns.org/" target="_blank"><div class="supporter_block"><%= image_tag "dmns_logo.png" %><p>Denver Museum of Nature &amp; Science</p></a></div>

	</li>
</ul>










-------------

            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td class="b2"><%= image_tag("UCB_seal.png")%><br />
            	  <br />
           	  The University of Colorado at Boulder</td>
                <td class="b2"><%= image_tag("NPS_logo.png")%><br />
                  <br />
                  The National Park Service</td>
                <td class="b2"><%=image_tag("AGI_logo.png")%><br />
                  <br />
                The American Geological Institute</td>
            </tr>
            </table>
            
            <hr />
            
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td class="b2"><%=image_tag("AAPG_logo.png")%><br />
            	  <br />
           	  The AAPG Foundation</td>
                <td class="b2"><%=image_tag("SEG_logo.png")%><br />
                  <br />
              The SEG Foundation</td>
                <td class="b2"><%=image_tag("GCSSEPM_logo.png")%><br />
                  <br />
                Gulf Coast Section SEPM</td>
            </tr>
            </table>

	<hr />

            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
                <td class="b2"><a href="http://cpgeosystems.com"><%=image_tag("blakey_logo.jpg")%></a><br />
                  <br />
              Ron Blakey <br> Colorado Plateau Geosystems</td>
                <td class="b2"><a href="http://www.whiting.com/"><%=image_tag("whiting_logo.png")%></a><br />
                  <br />
                  Whiting Petroleum</td>
                <td class="b2"><a href="http://www.dmns.org/"><%=image_tag("dmns_logo.png")%></a><br />
                  <br />
                Denver Museum of Nature and Science<img src="spacer.gif" width="1" height="60" /></td>
            </tr>
            </table>
            
            <hr />
            
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td class="b1">Paul M. Rady</td>
                <td class="b1">The Rady Family Foundation</td>
                <td class="b1">John Lockridge</td>
                <td class="b1">Bud Reid</td>
            </tr>
            </table>
            
            <hr />
            
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td class="b1">Bruce Benson</td>
                <td class="b1">The Anschutz Family Foundation</td>
                <td class="b1">Westport Resources</td>
                <td class="b1">Rutt Bridges Family Foundation</td>
            </tr>
            </table>


<script>
$(document).ready(function() {
	//highlight appropriate nav tab
	$("li[rel$='supporters']").toggleClass("nav_button nav_button_active");
});
</script>
