<h1>Our work would not be possible without the support of:</h1>
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td id="b2"><%= image_tag("UCB_seal.png")%><br />
            	  <br />
           	  The University of Colorado at Boulder</td>
                <td id="b2"><%= image_tag("NPS_logo.png")%><br />
                  <br />
                  The National Park Service</td>
                <td id="b2"><%=image_tag("AGI_logo.jpg")%><br />
                  <br />
                The American Geological Institute</td>
            </tr>
            </table>
            
            <hr />
            
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td id="b2"><%=image_tag("AAPG_logo.jpg")%><br />
            	  <br />
           	  The AAPG Foundation</td>
                <td id="b2"><%=image_tag("SEG_logo.jpg")%><br />
                  <br />
              The SEG Foundation</td>
                <td id="b2"><%=image_tag("GCSSEPM_logo.jpg")%><br />
                  <br />
                Gulf Coast Section SEPM</td>
            </tr>
            </table>

	<hr />

            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
                <td id="b2"><%=image_tag("blakey_logo.jpg")%><br />
                  <br />
              Ron Blakey <br> Colorado Plateau Geosystems</td>
                <td id="b2"><%=image_tag("whiting_logo.png")%><br />
                  <br />
                  Whiting Petroleum</td>
                <td id="b2"><%=image_tag("dmns_logo.png")%><br />
                  <br />
                Denver Museum of Nature and Science<img src="spacer.gif" width="1" height="60" /></td>
            </tr>
            </table>
            
            <hr />
            
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td id="b1">Paul M. Rady</td>
                <td id="b1">The Rady Family Foundation</td>
                <td id="b1">John Lockridge</td>
                <td id="b1">Bud Reid</td>
            </tr>
            </table>
            
            <hr />
            
            <table align="center" cellpadding="6" cellspacing="6" border="0" width="900">
            <tr>
            	<td id="b1">Bruce Benson</td>
                <td id="b1">The Anschutz Family Foundation</td>
                <td id="b1">Westport Resources</td>
                <td id="b1">Rutt Bridges Family Foundation</td>
            </tr>
            </table>
