<h1>Our work would not be possible without the support of:</h1>

<ul class="supporters">
	<li class="supporters">


	<span class="supporter_textonly">Paul M. Rady</span>
	<span class="supporter_textonly">The Rady Family Foundation</span>
	<span class="supporter_textonly">John Lockridge</span>

	<hr \>

	<span class="supporter_textonly">Bud Reid</span>
	<span class="supporter_textonly">Bruce Benson</span>
	<span class="supporter_textonly">The Anschutz Family Foundation</span>

	<hr \>

	<span class="supporter_textonly">Westport Resources</span>
	<span class="supporter_textonly">Rutt Bridges Family Foundation</span>

	<hr \>

		<a href="http://cpgeosystems.com/" target="_blank"><div class="supporter_block"><%= image_tag "blakey_logo.jpg" %><p class="supporter_caption">Ron Blakey<br>Colorado Plateau Geosystems</p></a></div>
		<a href="http://www.whiting.com/" target="_blank"><div class="supporter_block"><%= image_tag "whiting_logo.png" %><p class="supporter_caption">Whiting Petroleum</p></a></div>
		<a href="http://www.dmns.org/" target="_blank"><div class="supporter_block"><%= image_tag "DMNS-3-Line-BLK.jpg" %><p class="supporter_caption">Denver Museum of Nature &amp; Science</p></a></div>

	<hr \>

		<a href="http://foundation.aapg.org/" target="_blank"><div class="supporter_block"><%= image_tag "AAPG_logo.png" %><p class="supporter_caption">The AAPG Foundation</p></a></div>
		<a href="http://www.seg.org/web/foundation" target="_blank"><div class="supporter_block"><%= image_tag "SEG_logo.png" %><p class="supporter_caption">The SEG Foundation</p></a></div>
		<a href="http://www.gcssepm.org/" target="_blank"><div class="supporter_block"><%= image_tag "GCSSEPM_logo.png" %><p class="supporter_caption">Gulf Coast Section SEPM</p></a></div>

	<hr \>

		<a href="http://www.colorado.edu/" target="_blank"><div class="supporter_block"><%= image_tag "UCB_seal.png" %><p class="supporter_caption">The University of Colorado Boulder</p></a></div>
		<a href="http://www.nps.gov/" target="_blank"><div class="supporter_block"><%= image_tag "NPS_logo.png" %><p class="supporter_caption">The National Park Service</p></a></div>
		<a href="http://www.americangeosciences.org/" target="_blank"><div class="supporter_block"><%= image_tag "AGI_logo.png" %><p class="supporter_caption">American Geosciences Institute</p></a></div>

	</li>
	<li class="supporters">&nbsp;<!--spacer--></li>
</ul>





<script>
$(document).ready(function() {
	//highlight appropriate nav tab
	$("li[rel$='supporters']").toggleClass("nav_button nav_button_active");
});
</script>
