<h1>Listing albums</h1>

<%= link_to 'Sync with Vimeo', 'albums/sync' %>

<ul class="library">
  <% @albums.each do |album| %>
    <li>
      <h4>Album title: <%= album.name %></h4>
    </li>
    <li>
      <h4>Description:</h4>
      <p><%= album.description %></p>
    </li>
    <li>
      <p><%= link_to 'Show', album %> | <%= link_to 'Edit', edit_album_path(album) %> | <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </li>
    <li>
      <hr/>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Album', new_album_path %>
