<!DOCTYPE html>
<html>
<head>
  <title>Interactive Geology Project</title>
  <%= stylesheet_link_tag    "application", media: "all" %> 
  <%= javascript_include_tag 'jquery', 'application' %> 
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<div class="navbar">
  <div class="navbar_container">
	  <ul class="navbar">
	    <li class="nav_logo"><%= image_tag "igp_logo_25px.png" %></li>
	    <li class="nav_home">Interactive Geology Project</li>
	    <li class="nav_button" rel="library">Video Library</li>
	    <li class="nav_button" rel="supporters">Supporters</li>
	    <li class="nav_button" rel="staff">Staff</li>
	  </ul>
  </div>
</div>
</nav>

<!--
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "igp_logo_25px.png" %>&nbsp;Interactive Geology Project</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/pages/library">Video Library</a></li>
          <li class="active"><a href="/pages/supporters">Supporters</a></li>
          <li class="active"><a href="/pages/staff">Staff</a></li>
        </ul>
      </div>
    </div>
  </nav>
-->

<div class="container">
  <%= yield %>
</div>


<footer>&copy; Regents of the University of Colorado</footer>

</body>

<script>

$(document).ready(function() {

  //change button background on hover
  $(".nav_button").mouseenter(function() {
    $(this).css({"background":"linear-gradient(#FFFFFF, #E8E8E8)"});
  })

    .mouseleave(function() {
      $(this).css({"background":"linear-gradient(#F8F8F8, #E0E0E0)"});
    })

      //nav button links
      .click(function() {
        var target = $(this).attr("rel");
        window.location.href = "/pages/"+target;
      });

  $(".nav_home").mouseenter(function() {
    $(this).css({"color":"#686868"});
  })
 
    .mouseleave(function() {
      $(this).css({"color":"#333"});
    })

      .click(function() {
        window.location.href = "/";
      });

  $(".nav_logo").click(function() {
    window.location.href = "/";
  });

});

</script>
</html>
