<!DOCTYPE html>
<html>
<head>
  <title>Interactive Geology Project</title>
  <%= stylesheet_link_tag    "application", media: "all" %> 
  <%= javascript_include_tag 'jquery', 'application' %> 
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<div class="navbar">
  <div class="navbar_container">
    <ul class="navbar">
      <li class="nav_logo"><%= image_tag "igp_logo_25px.png" %></li>
      <li class="nav_home">Interactive Geology Project</li>
      <li class="nav_button" rel="pages/library">Video Library</li>
      <!--<li class="nav_button" rel="pages/displays" id="pdbutton">Public Displays</li>-->
      <li class="nav_button" rel="pages/supporters">Supporters</li>
      <li class="nav_button" rel="pages/staff">About Us</li>
      <li class="nav_button" rel="inquiries/new">Contact Us</li>
    </ul>
  </div>
</div>
</nav>


<div class="container_outer">
  <div class="container">
    <%= yield %>
  </div>
</div>


<footer>&copy; Regents of the University of Colorado</footer>

</body>

<script>

$(document).ready(function() {

  //change button background on hover
  $(".nav_button").mouseenter(function() {
    $(this).css({"background":"linear-gradient(#FFFFFF, #F0F0F0)"});
  })

    .mouseleave(function() {
      $(this).css({"background":"linear-gradient(#F8F8F8, #E0E0E0)"});
    })

      //nav button links
      .click(function() {
        var target = $(this).attr("rel");
        window.location.href = "/"+target;
      });

  $(".nav_home").mouseenter(function() {
    $(this).css({"color":"#787878"});
  })
 
    .mouseleave(function() {
      $(this).css({"color":"#333"});
    })

      .click(function() {
        window.location.href = "/";
      });

  $(".nav_logo").click(function() {
    window.location.href = "/";
  });

});

</script>
</html>
